/*@import url(Here we have to imort martal sans font by using import function) temporarly used anothher font  */
/* on line 61 and below we used '>' symbol so this style selects immediate(1st) child */
/* 55 mins*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 70vh;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;

}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.65;
    top: 0;
    position: absolute;
    background-color: black;
}

nav {
    display: flex;
    max-width: 80vw;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 98px;
}

nav img {
    color: red;
    width: 132px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 98px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 14px;
    padding: 0 29px;
}

.hero> :first-child {
    font-size: 28px;
    font-family: "poppins";
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 200;
    font-size: 14px;
    text-align: center;
}

.separation {
    height: 3px;
    background-color: rgb(109, 100, 100);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 4px 11px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 6px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 500;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.my-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.main input {
    padding: 7px 80px 7px 12px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(230, 186, 186, 0.4);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
@media  screen and (max-width: 1234px) {
    .first{
        flex-wrap: wrap;
    }
}



.secImg {
    position: relative;
}

secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    top: 51px;
    right: 0;
    width: 350px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 20px;
}

section.first-second> :nth-child(1){
    font-size: 35px;
    font-weight: bolder;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.faqbox:hover{
    background-color: rgb(102, 110, 110);
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    background-color: #2d2d2d;
    padding: 16px;
    max-width: 60vw;
    margin: 13px auto;
    justify-content: space-between;
    cursor: pointer;
    
}
.kj{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
.lastquestion{
    padding: 34px 0;
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
